@page "/about-me"

<h3><span class="oi oi-person"></span> About me</h3>
<div class="card bg-dark text-white fade-in">
	<img src="/images/geometricBg.jpg" class="card-img" alt="geometric" style="height:1000px">
	<div class="card-img-overlay">
		<div class="text-justify">
			Hello! I'm Michael Aiyetan, a <strong class="text-warning">FULL STACK SOFTWARE Engineer</strong> with vast knowledge and experience in software development.
			I have always been amazed by how much computers can help automate and systemize simple tasks.
			For the last 3 years, I have had elaborate experience in the software development ecosystem and currently working as a Software Developer for a Maritime company.
			One of my biggest accomplishments within this role was helping to mastermind and develop an app for clients to help them track user’s data, enhancing monitoring and minimize costs.
			I still remain the one person that loves learning and putting into work my research results. Having a strong passion for growth and development has projected my thoughts via power-mind to accomplishment.
			I'm a Machine Learning and AI Enthusiast.
			A Professor of Learning, a learning pro.
		</div>
		<div class="mt-2">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item btn-outline-dark">
					<a class="nav-link active text-warning font-weight-bolder" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Hobbies</a>
				</li>
				<li class="nav-item btn-outline-dark">
					<a class="nav-link text-warning font-weight-bolder" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">My Contacts</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<ul class="list-unstyled text-white mt-2">
						<li class="media">
							<span class="mt-2"><i class="fa fa-leaf"></i> Lecturing | Mentoring</span>
						</li>
						<li class="media">
							<span class="mt-2"><i class="fa fa-leaf"></i> Researching and Development [R&amp;D]</span>
						</li>
						<li class="media">
							<span class="mt-2"><i class="fa fa-leaf"></i> Studying</span>
						</li>
						<li class="media">
							<span class="mt-2"><i class="fa fa-leaf"></i> Travelling</span>
						</li>
					</ul>
				</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div style="font-size:12px" class="mt-2">
						<div class="input-group mb-2 mr-sm-2" style="font-size:12px">
							<div class="input-group-prepend">
								<div class="input-group-text text-danger"><i class="fab fa-google"></i></div>
							</div>
							<input type="text" class="form-control" id="gmail" readonly value="michael.aiyetanjnr03@gmail.com">
						</div>
						<div class="input-group mb-2 mr-sm-2" style="font-size:12px">
							<div class="input-group-prepend">
								<div class="input-group-text text-danger"><i class="fab fa-github"></i></div>
							</div>
							<input type="text" class="form-control" id="github" readonly value="https://github.com/Mikhel-lab">
						</div>
						<div class="input-group mb-2 mr-sm-2" style="font-size:12px">
							<div class="input-group-prepend">
								<div class="input-group-text text-primary"><i class="fab fa-linkedin-in"></i></div>
							</div>
							<input type="text" class="form-control" id="linkedin" readonly value="https://www.linkedin.com/in/michael-aiyetan-jnr-6b3b60164/">
						</div>
						<div class="input-group mb-2 mr-sm-2" style="font-size:12px">
							<div class="input-group-prepend">
								<div class="input-group-text text-primary"><i class="fa fa-mobile-alt"></i></div>
							</div>
							<input type="text" class="form-control" id="mobile-number" readonly value="(+234)-09064785439">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}
