@page "/education"

<h3><span class="oi oi-book"></span> Education</h3>

<div class="fade-in">
	<div>
		<div>
			<img src="/images/Edu_quote.jpg" style="height:500px; width:100%" />
		</div>
	</div>
	<hr />
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb h2">
			<li class="breadcrumb-item"><span>University Of Ibadan</span></li>
			<li class="breadcrumb-item"><span>Oyo, Ibadan</span></li>
			<li class="breadcrumb-item active" aria-current="page">Feb, 2017.</li>
		</ol>
	</nav>
	@*<div class="jumbotron">
		<div class="card-body">
			<h3>Achievements and rewards</h3>
			<div>
				<ul style="list-style:none" class="p-3">
					<li class="py-1"><h5 class="oi oi-key"> Graduated as one of the best student in the department in TOP 5.</h5></li>
					<li class="py-1"><h5 class="oi oi-key"> Graduated with a Second Class Upper [2<sup>1</sup>].</h5></li>
					<li class="py-1"><h5 class="oi oi-key"> I was the coordinator for four (4) years.</h5></li>
					<li class="py-1"><h5 class="oi oi-key"> I was honoured the most dedicated student.</h5></li>
					<li class="py-1"><h5 class="oi oi-key"> I was honoured with an award as best coordinator in the department and also honoured by the faculty.</h5></li>
					<li class="py-1"><h5 class="oi oi-key"> I was an influencer in the departmental election.</h5></li>
					<li class="py-1"><h5 class="oi oi-key"> My joy is that many of my colleges graduated in flying colours as I contributed to their academic pursuit by organizing tutorials and teach them.</h5></li>
					<li class="py-1"><h5 class="oi oi-key"> I actively helped student in programming and project-related issues.</h5></li>
				</ul>
			</div>
		</div>
	</div>*@
</div>

@code {

}