@page "/my-experiences"

<h3 class="mt-3"> <span class="oi oi-cog"></span> My Experience</h3>

<div class="fade-in">
	<div class="row">
		<div class="col-6">
			<img src="/images/Exp1.jpg" style="height:auto; width:100%" />
		</div>
		<div class="col-6">
			<img src="/images/Exp2.jpg" style="height:auto; width:100%" />
		</div>
	</div>
	<hr />
	<div class="accordion" id="accordionExperience">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Software Developer &clubs; [SDSD Prestige Limited • Otta, Lagos]  <span class="float-right">2019 - Present (Active)</span>
					</button>
				</h2>
			</div>
			<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExperience">
				<div class="row">
					<div class="col-9">
						<div class="card-body">
							<h3>My roles and responsibilities</h3>
							<div class="breadcrumb bg-info text-white">
								<ul style="list-style:none" class="p-3">
									<li><h5 class="oi oi-cog">Using established tools such as ASP.NET Core, ASP.NET MVC,SQLServer, HTML,CSS, JavaScript, jQuery and C# to develop solutions.</h5></li>
									<li><h5 class="oi oi-cog"> Adding new functionalities or features to the company's enterprise application (MAMS).</h5></li>
									<li><h5 class="oi oi-cog"> Fixing of bugs and issues highlighted on the enterprise application as reported by clients via the testers/quality assurance engineers.</h5></li>
									<li><h5 class="oi oi-cog">Identify and troubleshoot Application Code related Issue.</h5></li>
									<li><h5 class="oi oi-cog">Developed a new Web applications through customized applications.</h5></li>
									<li><h5 class="oi oi-cog"> Maintain and enhance the existing.</h5></li>
									<li><h5 class="oi oi-cog">Manage uptime and operation tasks for In-house built Applications. </h5></li>
									<li><h5 class="oi oi-cog">Participate in the ongoing development of applications that meet theneeds of the customers.</h5></li>
									<li><h5 class="oi oi-cog">Developed Internal Work Flow to increase efficiency of the work order onboth In house and clients' Project.</h5></li>
									<li><h5 class="oi oi-cog"> Good knowledge of Software development Life Cycle</h5></li>
									<li><h5 class="oi oi-cog">Developed a Software WebApi and designed it to run as a windows service.</h5></li>
									<li><h5 class="oi oi-cog"> Maintain and enhance existing company mobile app using Xamarin.</h5></li>
									<li><h5 class="oi oi-cog"> Assisting in performing interviews one-behalf of the organization.</h5></li>
									<li><h5 class="oi oi-cog"> Performing code reviews.</h5></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-3">
						<img src="/images/sdsd.jpg" style="height:auto; width:100%" />
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h2 class="mb-0">
					<button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Junior .Net Developer &clubs; [MyDigitalHandle Solution Plc |  Lagos, Nigeria.
						]  <span class="float-right">March/2018 - Dec/2018</span>
					</button>
				</h2>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExperience">
				<div class="row">
					<div class="col-9">
						<div class="card-body">
							<h3>My roles and responsibilities</h3>
							<div class="breadcrumb bg-info text-white">
								<ul style="list-style:none" class="p-3">
									<li><h5 class="oi oi-cog">C# software development life cycle</h5></li>
									<li><h5 class="oi oi-cog">REST APIs, ASP.Net Core</h5></li>
									<li><h5 class="oi oi-cog">Front-end web development, particularly with React.</h5></li>
									<li><h5 class="oi oi-cog">Developed custom software with lots of coding - C#, JavaScript, SQL</h5></li>
									<li><h5 class="oi oi-cog">Developed a clean, scalable code using .NET programming languages</h5></li>
									<li><h5 class="oi oi-cog"> Involved in code analysis.</h5></li>
									<li><h5 class="oi oi-cog"> Made few changes on Web services that are interacting with MyDigitalHandle client.</h5></li>
									<li><h5 class="oi oi-cog"> Involved in code analysis.</h5></li>
								</ul>
							</div> 
					
						</div>
					</div>
					<div class="col-3">
						<img src="/images/.png" style="height:auto; width:100%" />
						<img src="/images/.png" style="height:auto; width:100%" class="mt-3" />
					</div>
				</div>
			</div>
		</div>
	
	</div>
</div>
@code {

}
