@page "/"


<div>
	<div class="text-center">
		<img class="rounded-circle img-thumbnail" src="/images/0.jpg"  style="height:auto; width:200px" />
		<h3 class="mt-3 role-title"><span id="style1">SOFTWARE</span> <span id="style2">ENGINEER</span></h3>
	</div>
	<hr />
	<div class="rounded">
		<div class="align-content-between">
			<h4 class="border-bottom-0">My Philosophy</h4>
			<blockquote class="blockquote jumbotron font-italic quote-style">Until you have learned to help others, you will never understand the essence of living.</blockquote>
			<a href="about-me" class="btn btn-outline-primary rounded-pill h3"> Learn more about me...</a>
		</div>
	</div>
</div>

<div class="card-deck mb-3">
	<div class="card fade-in">
		<img src="/images/brain.jpg" style="height:auto; width:100%" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title"><span class="oi oi-cog"></span> Experience</h5>
			<p class="card-text text-justify">
				I have always been amazed by how much computers can help automate and systemize simple tasks. For the last 3 years, I had elaborate experience in the software development ecosystem.
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="my-experiences" class="btn btn-outline-info rounded-pill h3">Continue reviewing &raquo;</a></div>
		</div>
	</div>
	<div class="card fade-in">
		<img src="/images/skills.jpg" class="card-img-top" style="height:auto; width:100%" />
		<div class="card-body">
			<h5 class="card-title">	<span class="oi oi-key"></span> Skills</h5>
			<p class="card-text">
				<blockquote class="font-italic text-justify">“Man often becomes what he believes himself to be. If I keep on saying to myself that I cannot do a certain thing, it is possible that I may end by really becoming incapable of doing it. On the contrary, if I have the belief that I can do it, I shall surely acquire the capacity to do it even if I may not have it at the beginning.”</blockquote>
				<h4 class="font-weight-bold">― Mahatma Gandhi ―</h4>
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="my-skills" class="btn btn-outline-info rounded-pill h3">Explore more &raquo;</a></div>
		</div>
	</div>
	<div class="card fade-in">
		<img src="/images/edu.jpg" class="card-img-top" style="height:auto; width:100%"/>
		<div class="card-body">
			<h5 class="card-title"><span class="oi oi-book"></span> Education</h5>
			<p class="card-text">
				<blockquote class="font-italic text-justify">“Education is a progressive discovery of our own ignorance.”</blockquote>
				<h4 class="font-weight-bold">― Will Durant ―</h4>
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="education" class="btn btn-outline-info rounded-pill h3">Keep reviewing &raquo;</a></div>
		</div>
	</div>
</div>

<div class="card-deck mb-3">
	<div class="card fade-in">
		<img src="/images/tech.jpg" style="height:auto; width:100%" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">	<span class="oi oi-wrench" aria-hidden="true"></span> Technologies</h5>
			<p class="card-text">
				<blockquote class="font-italic text-justify">“The advance of technology is based on making it fit in so that you don't really even notice it, so it's part of everyday life.”</blockquote>
				<h4 class="font-weight-bold">― Bill Gates ―</h4>
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="technologies-in-use" class="btn btn-outline-info rounded-pill h3">Hey! check it out &raquo;</a></div>
		</div>
	</div>
	<div class="card fade-in">
		<img src="/images/interest.jpg" class="card-img-top" style="height:auto; width:100%" />
		<div class="card-body">
			<h5 class="card-title">	<span class="oi oi-fork" aria-hidden="true"></span> Interest</h5>
			<p class="card-text text-justify">
				The fire burining in me to impart into generations and change the world with software. My passion for programming and coding came as a result of my interest in it.
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="interests" class="btn btn-outline-info rounded-pill h3">Interesting &raquo;</a></div>
		</div>
	</div>
	<div class="card">
		<img src="/images/Training.jpg" class="card-img-top" style="height:auto; width:100%" />
		<div class="card-body">
			<h5 class="card-title"><span class="oi oi-badge"></span> Trainings</h5>
			<p class="card-text">
				<blockquote class="font-italic text-justify">“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”</blockquote>
				<h4 class="font-weight-bold">― Dr. Seuss ―</h4>
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="my-portfolio" class="btn btn-outline-info rounded-pill h3">Look in &raquo;</a></div>
		</div>
	</div>
</div>
<div class="card-deck mb-3">
	<div class="card fade-in">
		<img src="/images/award.jpg" style="height:auto; width:100%" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">	<span class="oi oi-aperture" aria-hidden="true"></span> Awards</h5>
			<p class="card-text">
				<blockquote class="font-italic text-justify">“We are all actors, set on the stage of the world, as the curtains open we put on our best performance to this audience of life.”</blockquote>
				<h4 class="font-weight-bold">― Anthony Liccione ―</h4>
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="technologies-in-use" class="btn btn-outline-info rounded-pill h3">Hey! explore it &raquo;</a></div>
		</div>
	</div>
	<div class="card">
		<img src="/images/portfolio.png" class="card-img-top" style="height:auto; width:100%" />
		<div class="card-body">
			<h5 class="card-title">	<span class="oi oi-flag" aria-hidden="true"></span> Portfolio</h5>
			<p class="card-text text-justify">
				<blockquote class="font-italic text-justify">“I’m trying to manage myself, not just my portfolio.”</blockquote>
				<h4 class="font-weight-bold">― Guy Spier ―</h4>
			</p>
			<hr />
			<div class="container-fluid mt-2"><a href="interests" class="btn btn-outline-info rounded-pill h3">Dive in? &raquo;</a></div>
		</div>
	</div>
</div>