@page "/interests"

<h3><span class="oi oi-fork"></span> Interest</h3>

<div class="fade-in">
	<div class="row">
		<div class="col-6">
			<img src="/images/interest_quot1.jpg" style="height:auto; width:100%" />
		</div>
		<div class="col-6">
			<img src="/images/interest_quot2.jpg" style="height:auto; width:100%" />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-info btn-block h2 card-body font-weight-bold shadow">React js</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-dark btn-block h2 card-body font-weight-bold shadow">Java</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-primary btn-block h2 card-body font-weight-bold shadow">Python</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-secondary btn-block h2 card-body font-weight-bold shadow">Information &amp; Com. Technology [ICT]</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-info btn-block h2 card-body font-weight-bold shadow">Telecommunication Engineer</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-danger btn-block h2 card-body font-weight-bold shadow">Artificial intelligence [AI] </button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-primary btn-block h2 card-body font-weight-bold shadow">Machine Learning [ML]</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-success btn-block h2 card-body font-weight-bold shadow">Deep Learning [DP]</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-info btn-block h2 card-body font-weight-bold shadow">Bot Development</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-dark btn-block h2 card-body font-weight-bold shadow">Project Management</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-success btn-block h2 card-body font-weight-bold shadow">Entrepreneurship</button>
		</div>
	</div>
</div>

@code {

}
