@page "/my-portfolio"


<h3><span class="oi oi-flag" aria-hidden="true"></span> Portfolio</h3>
<hr />
<div class="row">
	<div class="col-md-6">
		<div class="card shadow-sm">
			<div class="card-header bg-primary font-weight-bold text-white">MS E-Learning</div>
			<div class="card-body">
				<img src="/images/portfolio/Landing-page.PNG" class="card-img-top" style="width:100%" />
				<div class="mt-1 font-weight-bolder">Microsoft Teams App Development Challenge</div>
				<hr />
				<h6 class="text-justify">
					If education must continue then, there must be a platform through which learning will continue even in diffucult times.
				</h6>
			</div>
			<div class="card-footer">
				@*//<a href="https://ms-elearn.azurewebsites.net/" target="_blank" class="rounded-circle">Have a look: <i class="fa fa-link"></i></a>*@
				<a href="https://devpost.com/mikhel?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" target="_blank" class="rounded-circle">Devpost: <i class="fa fa-external-link-alt"></i></a>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card shadow-sm">
			<div class="card-header bg-primary font-weight-bold text-white">MS E-Learning</div>
			<div class="card-body">
				<img src="/images/portfolio/Landing-page.PNG" class="card-img-top" style="width:100%" />
				<div class="mt-1 font-weight-bolder">Microsoft Teams App Development Challenge</div>
				<hr />
				<h6 class="text-justify">
					If education must continue then, there must be a platform through which learning will continue even in diffucult times.
				</h6>
			</div>
			<div class="card-footer">
				<a href="https://ms-elearn.azurewebsites.net/" target="_blank" class="rounded-circle">Have a look: <i class="fa fa-link"></i></a>
				<a href="https://devpost.com/software/ms-e-learning" target="_blank" class="rounded-circle">Devpost: <i class="fa fa-external-link-alt"></i></a>
			</div>
		</div>
	</div>
</div>

@code {

}
