@page "/my-skills"

<h3><span class="oi oi-key"></span> Skills</h3>
<div class="fade-in">
	<div class="row">
		<div class="col-6">
			<img src="/images/skills_quote1.jpg" style="height:auto; width:100%" />
		</div>
		<div class="col-6">
			<img src="/images/skills_quote.jpg" style="height:auto; width:100%" />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-danger btn-block h2 card-body font-weight-bold shadow">C#</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-danger btn-block h2 card-body font-weight-bold shadow">ASP.NET</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-danger btn-block h2 card-body font-weight-bold shadow">ASP.NET CORE</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-danger btn-block h2 card-body font-weight-bold shadow">ASP.NET MVC</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-info btn-block h2 card-body font-weight-bold shadow">Azure DevOps</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-info btn-block h2 card-body font-weight-bold shadow">Xamarin</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-info btn-block h2 card-body font-weight-bold shadow">Web API Development - REST</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-info btn-block h2 card-body font-weight-bold shadow">Entity Framework [EF]</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-primary btn-block h2 card-body font-weight-bold shadow">HTML5</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-primary btn-block h2 card-body font-weight-bold shadow">CSS</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-primary btn-block h2 card-body font-weight-bold shadow">Bootstrap</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-primary btn-block h2 card-body font-weight-bold shadow">Javascript</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-dark btn-block h2 card-body font-weight-bold shadow">Jquery</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-dark btn-block h2 card-body font-weight-bold shadow">SQL Server Management Studio</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-dark btn-block h2 card-body font-weight-bold shadow">SQL Server</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-dark btn-block h2 card-body font-weight-bold shadow">MySQL</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-secondary btn-block h2 card-body font-weight-bold shadow">SQLite</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-secondary btn-block h2 card-body font-weight-bold shadow">MongoDB</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-secondary btn-block h2 card-body font-weight-bold shadow">NPOCO</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-secondary btn-block h2 card-body font-weight-bold shadow">Language Integrate Query (LINQ)</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-danger btn-block h2 card-body font-weight-bold shadow">Nuget Development [Library Hosting]</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-secondary btn-block h2 card-body font-weight-bold shadow">Desktop Publishing</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-danger btn-block h2 card-body font-weight-bold shadow">WordPress</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-primary btn-block h2 card-body font-weight-bold shadow">SOLID Design Principle</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-info btn-block h2 card-body font-weight-bold shadow">Blazor [Front-end framework]</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-danger btn-block h2 card-body font-weight-bold shadow">Angular</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-info btn-block h2 card-body font-weight-bold shadow">Mentoring</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-success btn-block h2 card-body font-weight-bold shadow">Teaching</button>
		</div>
	</div>
</div>

@code {

}
