@page "/technologies-in-use"

<h3><span class="oi oi-wrench"></span> Technologies in-use</h3>
<div class="fade-in">
	<div class="row">
		<div class="col-6">
			<img src="/images/tech_quot.jpg" style="height:auto; width:100%" />
		</div>
		<div class="col-6">
			<img src="/images/tech_quot1.jpg" style="height:auto; width:100%" />
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-outline-info btn-block h2 card-body font-weight-bold shadow">Azure DevOps</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-danger btn-block h2 card-body font-weight-bold shadow">Tortoise SVN</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-primary btn-block h2 card-body font-weight-bold shadow">GitHub</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-secondary btn-block h2 card-body font-weight-bold shadow">GitLab</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-outline-dark btn-block h2 card-body font-weight-bold shadow">Redmine</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-primary btn-block h2 card-body font-weight-bold shadow">Jira</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-dark btn-block h2 card-body font-weight-bold shadow">Agile/Scrum</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-danger btn-block h2 card-body font-weight-bold shadow">N-Tier Architecture</button>
		</div>
	</div>
</div>
@code {

}
