@page "/trainings"

<h3><span class="oi oi-badge"></span> My Trainings and Certificates</h3>

<table class="table table-striped fade-in">
	<thead class="bg-info font-weight-bold text-white">
		<tr>
			<td>SN.</td>
			<td>Title</td>
			<td>Organization</td>
			<td>Certificate No.</td>
			<td>Issued Date</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td class="text-capitalize">Soft skills training by Jobberman </td>
			<td class="text-capitalize">Jobberman</td>
			<td>TASQ6Z9EYWCU</td>
			<td>27th Jan., 2020</td>
			<td><a href="/Docs/Jobberman-soft-skill-training.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>2</td>
			<td class="text-capitalize">Building a Web App with ASP.Net Core, MVC and EF Course </td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-ZOBWF473</td>
			<td>1st Oct., 2017</td>
			<td><a href="/Docs/Building a Web App with ASP.Net Core, MVC and EF.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>3</td>
			<td class="text-capitalize">Complete Bootstrap 4 Course </td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-13KTEE7R</td>
			<td>29th Sept., 2019</td>
			<td><a href="/Docs/Complete Bootstrap 4 Course.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>4</td>
			<td class="text-capitalize">Xamarin Forms for Android and IOS Native development Course </td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-GONO1U85</td>
			<td>26th Sept., 2019</td>
			<td><a href="/Docs/Xamarin Forms for Android and IOS Native development Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>5</td>
			<td class="text-capitalize">Dependency Injection for C# Course </td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-ZHSO60X1</td>
			<td>24th Sept., 2019</td>
			<td><a href="/Docs/Dependency Injection Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>6</td>
			<td class="text-capitalize">Superb jQuery Course </td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-0N4P0W3E</td>
			<td>20th Sept., 2019</td>
			<td><a href="/Docs/Superb jQuery Course Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>7</td>
			<td class="text-capitalize">ASP.NET MVC Core Course</td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-BYBCUA66</td>
			<td>19th Sept., 2019</td>
			<td><a href="/Docs/ASP.NET Core MVC Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>8</td>
			<td class="text-capitalize">Build compete JQuery Plugin Course  </td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-U4V5M3WY</td>
			<td>19th Sept., 2019</td>
			<td><a href="/Docs/Build compete JQuery Plugin Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>9</td>
			<td class="text-capitalize">CRUD C#.Net With EF Course </td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-5CI3SFHU</td>
			<td>19th Sept., 2019</td>
			<td><a href="/Docs/CRUD CSharp.Net With EF Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>10</td>
			<td class="text-capitalize">Basics of LINQ with C# Course</td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-MC7QAFG6P</td>
			<td>13th Sept., 2019</td>
			<td><a href="/Docs/Basics of LINQ with CSharp Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>11</td>
			<td class="text-capitalize">Complete ASP.NET MVC5 course Course </td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-PEFDQUS4</td>
			<td>12th Sept., 2019</td>
			<td><a href="/Docs/Complete ASP.NET MVC5 course Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>12</td>
			<td class="text-capitalize">Basics of OOP with C#</td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-VPYZS8ZN</td>
			<td>10th Sept., 2019</td>
			<td><a href="/Docs/Basics of OOP with CSharp Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>13</td>
			<td class="text-capitalize">C# programming Course </td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-AYPZDKH7</td>
			<td>10th Sept., 2019</td>
			<td><a href="/Docs/CSharp programming Udemy.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>14</td>
			<td class="text-capitalize">Bootstrap, HTML & CSS Course</td>
			<td class="text-capitalize">UDEMY</td>
			<td>UC-AMUMGN1T</td>
			<td>2nd Oct., 2019</td>
			<td><a href="/Docs/Bootstrap, HTML & CSS YouTube Homepage.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>15</td>
			<td class="text-capitalize">JQuery Course </td>
			<td class="text-capitalize">SOLOLEARN</td>
			<td>#1082-3468318</td>
			<td>26th Sept., 2019</td>
			<td><a href="/Docs/JQuery complete course SoloLearn.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>16</td>
			<td class="text-capitalize"># complete Course Course</td>
			<td class="text-capitalize">SOLOLEARN</td>
			<td>#1080-3468318</td>
			<td>11th Sept., 2019</td>
			<td><a href="/Docs/CSharp complete Course SoloLearn.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>17</td>
			<td class="text-capitalize">SQL Course </td>
			<td class="text-capitalize">SOLOLEARN</td>
			<td>#1060-3468318</td>
			<td>27th May, 2017</td>
			<td><a href="/Docs/Sql course SoloLearn.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>18</td>
			<td class="text-capitalize">CSS complete Course </td>
			<td class="text-capitalize">SOLOLEARN</td>
			<td>#1023-3468318</td>
			<td>22nd May, 2017</td>
			<td><a href="/Docs/CSS complete course SoloLearn.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>19</td>
			<td class="text-capitalize">HTML5 complete Course </td>
			<td class="text-capitalize">SOLOLEARN</td>
			<td>#1014-3468318</td>
			<td>22nd May, 2017</td>
			<td><a href="/Docs/HTML5 complete course SoloLearn.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
		<tr>
			<td>20</td>
			<td class="text-capitalize">JaveScript Course </td>
			<td class="text-capitalize">SOLOLEARN</td>
			<td>#1024-3468318</td>
			<td>20th March., 2018</td>
			<td><a href="/Docs/JaveScript course SoloLearn.pdf" target="_blank" class="oi oi-eye h4" title="view" style="text-decoration:none"></a></td>
		</tr>
	</tbody>
</table>

@code {

}

 
